body{
    margin: 0px;
}
#nav-bar{
    background: #cccc;
}
#apps{
    display: flex;
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}
.logo{
    height: 30px;
    width: 30px;
}
#user{
    display: flex;
    float: right;
    border: 10px solid red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
#logo{
    height: 33px;
    width: 92px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: start;
}
#advanced-search{
    font-size: 20px;
    color: red;
    padding: 15px;
    border-bottom: 1px solid #cccc;
}
.row{
    display: flex;
    width: 80%;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.empty{
    width: 50%;
    float: right;
}
.right{
    width: 27%;
    margin-left: 10px;
    float: right;
    font-size: 13px;
}
.left{
    width: 17%;
    margin-right: 10px;
}
.fill{
    width: 50%;
    height: 20px;
}
.halfill{
    width: 24%;
    height: 20px;
    margin-bottom: 20px;
}
.hd{
    font-size: 20px;
}
.submit{
    margin-left: 55%;
    height: 40px;
    background-color: rgba(68, 132, 230, 0.8);
    color: white;
    margin-bottom: 20px;
}
#dropdown{
    margin-right: 10px;
    height: 30px;
}