html, body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
#toplink{
    text-decoration: none;
    cursor: pointer;  
}
#nav a{
    margin-right: 20px;
    
}
#nav a.topImage{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}
#mid{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    text-align: center;
}
#searchBarContainer{
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.search-icon{
    position: absolute;
    top: 25%;
    left: 3%;
}

.image-search{
    position: absolute;
    top: 25%;
    right: 3%;
}

#searchBar{
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    border-radius: 15px;
    border: 2px solid #e4e4e4;
    cursor: unset;
    padding-left: 2rem;
}
#searchBar:hover{
    box-shadow: 0 0 3px rgb(161, 161, 161);
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
input{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 5px;
    cursor: pointer;
    background: rgb(243, 243, 243);
    border-radius: 3px;
    border: none;
}
#links{
    margin-top: 10px;
    text-align: center;
}
#footer{
    background: rgb(228, 228, 228);
    border-top: 1px solid rgb(201, 201, 201);

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#footer-content{
    border: 1px solid rgb(223, 222, 222);
    padding-bottom: 40px;

}
.user{
    display: flex;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.google{
    display: flex;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#footer1{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.apps{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.apps:hover{
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(161, 161, 161);
}
#logo > p{
    float: right;
    margin-top: 80px;
    color: blue;
}

.pages-nav{
    position: absolute;
    left: 0;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8vh;
    cursor: pointer;
}

li{
    list-style: none;
}

.pages-nav:hover .pages{
    transition: opacity 200ms ease-in-out;
    opacity: 1;
    pointer-events: all;
    background: gray;
    border-radius: 1rem;
    cursor: pointer;
}

.pages-nav:hover .pages a{
   color: white;
}

.pages{
    opacity: 0;
    pointer-events: none;
}